

h2 {
    margin-top: 3rem;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: #5e88be;
    font-weight:700;
}

.video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}




.about-content .container {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3rem;
    background: #fff;;
}

.about-content .container .box {
    margin: 2rem;
    width: 600px;
}

.about-content .container .box h3 {
    letter-spacing: 0.03rem;
    color: #6c89af;
    font-weight: 500;
    font-size: 1.5rem;
}


.about-content .container .box > i {
    font-size: 5rem;
}

.about-content .container .box > p{
    margin-top: 1.5rem;
    font-weight: 300;
    line-height: 1.32rem;
    font-size: 0.8rem;
    color:#4a4b4d;
    text-align: left;
    padding: 0.3rem;
    letter-spacing: 0.03rem;
}

.about-content .team-section {
    background-color: rgb(27, 27, 27);
    margin-top: -1.5rem;
    background:url('../images/background.jpg');
    text-align: center;
    align-items: center;
    height: 100%;
}

.about-content .team-section  h2 {
    margin-top: 4rem;
    padding-top: 3rem;
    font-size: 1rem;
    font-weight: 500;   
    letter-spacing:0.15rem;
    color: white;;
    
}

.about-content .team-section > p {
    font-weight: 300;
    margin-top: 0.5rem;
    letter-spacing: 0.02rem;
    font-size: 0.85rem;
    color: white;
}

.about-content .team-section .team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
   
}

.about-content .team-section .team-container .team-box {
    height: 300px;
    width: 300px;
    padding: 0.2rem;
    align-items: center;
}

.about-content .team-section .team-container .team-box > img {
    height: 150px;
    width: 150px;
    border-radius: 60%;
    object-fit: cover;
}

.about-content .team-section .team-container .team-box > h6 {
    font-size: 1rem;
    font-weight: 600;
    color: #6c89af;
}

.about-content .team-section .team-container .team-box > p {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.1rem;
    margin-bottom:0.3rem ;
    letter-spacing: 0.03rem;
    color: white;
}

.about-content .team-section .team-container .team-box .socials {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    gap: 2rem;
}

.about-content .team-section .team-container .team-box .socials > a:visited,
.about-content .team-section .team-container .team-box .socials > a
 {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.about-content .team-section .team-container .team-box .socials > a i {
    font-size: 2rem;
    margin-top: 0.4rem;
}

.about-content .team-section .team-container .team-box .socials > a i:hover {
    color: #6c89af;
}

.about-content .team-section .team-container .team-box .socials > p {
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

@media screen and (max-width: 1245px) {
    
    
}

@media screen and (max-width: 960px) {


    .about-content { 
    
    }

    .about-content .team-section  h2 {
        font-size:1rem;
    }

    .about-content .container {
       
        flex-direction: column;
      
    }
        
    .about-content .container .box {
            width: 100%;
    }

    .about-content .container .box h3, .about-content .container .box p  {
        text-align: center;
    }

    .about-content .container .box video {
       margin-left: -2.5rem;
    }

    .about-content .team-section  {
        height: 100%;
    }

        .about-content .team-section .team-container{
            flex-direction: column;
            height: 100%;
        }

        .about-content .team-section .team-container .team-box {
            height: 100%;
            margin-top: 3rem;
        }

}