
.section .home-container {
    background:url('../images/background.jpg');
    opacity: 1.6;
    background-color: rgb(31, 31, 31);
    object-fit: cover;
    align-items: center;
  
}

.section .home-container h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
   
    width: 100%;
    color: #fff;
    letter-spacing: 0.0rem;
    
}
.section .home-container .container {
    display: flex;
    align-items: flex-start;
    height: 45vh;
  
    justify-content: flex-start;
    
    gap: 3rem;
    padding: 0 7%;

}

.section h2 {
    padding-top: 2rem;
    font-size: 1.5rem;
    letter-spacing:0.1rem;

}

 .section .home-container  h2 { 

    font-size:1rem;
    letter-spacing:0.5rem;
    font-weight: 400;
}

.section .home-container .container .box {
    margin-top: 5rem;

    width: 350px;
    height: 250px;
    align-items: center;
    margin: auto;
    
    align-content: center;

    
}


.section .home-container .container .box:hover>.text-box {
   
    visibility:visible;
    opacity:1;
}

.section .home-container .container .box:hover>.text-box p {
    transition: all .9s ease-in;
}
.section .home-container .container .box .text-box {
   
    display:block;
    visibility:hidden;
    opacity: 0; 
    transition: visibility 0s, opacity 0.5s linear;
}

.section .home-container .container .box h3 {
    text-align: center;
    color: #ffffff;
    margin-top: 2rem;
    font-size:1rem;
    opacity: 0.8;
    font-weight: 500;   
    letter-spacing:0.15rem;
    transition: background-color 0.5s ease; 
}



.section .home-container .container .box p {
    font-size:0.8rem;
    font-weight: 300;
    color: white;
    text-align: left;
    text-align: center;
    letter-spacing: 0.02rem;
    margin-top: -1.5rem;
   
}

.section .home-container .container .box :hover {
    transition: all .9s ease;
}

.section .home-container .container .box i {
    color: #70a6ec;
    text-align: center;
    display: block;
    font-size:2rem;
    align-items: center;
    margin: 0 auto;

}

.section .home-container .container .box p:hover {
    transition:  0.5s ease;
}

.client-section {
    align-items: center; 
    background-color: #fff;
}

.client-section > h2 {
    margin: 0.2rem;
    font-size: 1.4rem;
    text-transform: none;
    
    text-align: center;
    font-weight: 300;
    letter-spacing:0.02rem;

}

 span {
    color: #6c89af;
    font-weight: 600;
}

.client-section .client-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%
}

.client-section .client-container .client-box {
    margin: 1rem;
    height: 200px;
    margin-top: -2rem;
    width: 200px;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 50px;

}

.client-section .client-container .client-box > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.client-section .client-container .client-box:hover{
    transform: scale(1.1);
    cursor: pointer;
}




@media screen and (max-width: 960px) {
    .client-section{
        width: 100%;
    }
    .section {

    }

    .section .home-container .container {
        flex-direction: column;
        height: 130%;
        
    }
    

    .section .home-container .container .box {
        margin-top: 3rem;
       
        height: 100%;
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }

    .client-section .client-container {
        width: 100%;
        
    }
        

    .client-section .client-container .client-box {
        width: 80%;
        margin-bottom: 3rem;
       
    }

    }
