.content {
    margin-top: -3rem;
    padding: 0 9%;
    background:url('../images/background.jpg');
    background-attachment: fixed;
    
}

.content h1 {
    margin-top: 3rem;
    text-align: center;
}



.content  .service-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1 1 auto;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    transition: all 0.8s ease-in-out;
}

.content  .service-container .service-box { 
    width: 500px;
    height: 500px;
    margin: 1rem;
    margin-bottom: 5rem;

}

.content  .service-container .service-box .image {
    display: flex;
    margin: 0 auto;
    align-items:center;
    justify-content: center;
   width: 400px;
   height: 200px; 
}

.content  .service-container .service-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content  .service-container .text-box > h3 {
    margin-top: 2rem;
}

.content  .service-container .text-box,
.content  .service-container .text-box > h3,
.content  .service-container .text-box p {
    align-items: center;
    text-align: center;
    letter-spacing:0.02rem;
}



.content  .service-container .text-box ul li { 
    color: #fff;
    z-index: 999;
}





.content .service-container .text-box .row {
    width:100%;
    display: flex;
    color:white;;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.content .service-container .text-box .row h4 { 
    letter-spacing: 0.02rem;
    font-size:0.8rem;
    font-weight: 500;
}



.content  .service-container .text-box h3 {
    font-size: 1.2rem;
    color: #6c89af;
}

.content  .service-container .text-box p
{
    margin-top: -2rem;
    font-weight: 300;
    line-height: 1.3rem;
    font-size: 0.8rem;
    text-align: left;
    padding: 0.4rem;
    color: #fff;
}

.content .service-container .text-box ul li {
    font-weight: 400;
    line-height: 1.32rem;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: left;
}






.content .button {
    margin: 0 auto; 
    display: block;  
    text-align: center;
    padding: 1rem;
    background: #6c89af;
    width: fit-content;
    border-radius: 50px;
}


.content .button > a {
 text-align: center;       
 text-decoration: none;
 color: white;
}

h3 { 
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.testimonial .testimonial-box { 
    width: 400px;
    height: 250px;
    padding: 0 1%;
}

.testimonial .testimonial-box p { 
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
}

@media screen and (max-width: 1300px) {
  .content {
    padding: 0 2%;
  }  
    
}

@media screen and (max-width: 960px) {
    .content {
        padding: 0 5%;
        padding-top: 5rem;
        padding-bottom: 1rem; 
        margin-top: -0rem;
    }

    .content .service-container :nth-child(even) {
        flex-direction: column-reverse;
    }

    .content .service-container {
        width: 100%;
        flex-direction: column;
    }

    .content .service-container .service-box{
        width: 100%;
        height: 100%;
    }

    .content .service-container .text-box .row h4 {
        text-align: center;
    }


    .content .service-container .image img {
        margin: 0 auto;
        padding: 2rem;
        width: 50%;
        height: 50%
    }

    .content  .service-container .text-box,
.content  .service-container .text-box h3,
.content  .service-container .text-box p,
.content  .service-container .text-box ul li

 {
    text-align: center;
    letter-spacing: 0.02rem;
}

    .content .button {
        margin-top: 2rem;
    }


}