.hero-container {
    object-fit: contain;
    background-attachment: fixed;
    width: 100%;
    height: 55vh;
    object-fit: cover;
    background-position: center;

    justify-content: flex-start;
    flex-direction: column;
    
}

.hero-container > img {
    position: absolute;
    width: 100%;
    background-attachment: fixed;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    margin-top: -15rem;
  }
  

.hero-container .hero-content {
    padding: 0 8%;
    margin-top :  8rem;
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    color: #fff;
    width: 700px;
    margin-left: 7rem;
    z-index: 999;
}

.hero-container .hero-content > h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    text-align: left;
    font-weight:800;
    color: white;
    letter-spacing:0rem;
    
}

.hero-container .hero-content > p {
    margin-top: 0.3rem;
    font-weight: 300;
    text-align: left;
}


.hero-container .hero-content > a { 
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2rem;
  
    padding: 1%;
    font-weight: 500;
    color: white;
}

.hero-container .hero-content .button{ 
    margin-top: 1rem;
    display: flex;  
    text-align: left;
    padding: 1rem;
    background: none;
    background-color: rgb(34, 34, 34);
    color: #fff;
    width: fit-content;
}
.hero-container .hero-content .button > a {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin: auto;
}


.hero-container .hero-content .button:hover,
.hero-container .hero-content .button a:hover {
    background: rgb(248, 248, 248);
    color: #000000;
    transition: all .9s ease;
}

@media screen and (max-width: 960px) {

 
        .hero-container {
            width: 100%;
            height: 100%;
        }

        .hero-container .hero-content { 
            width: 100%;
            padding: 0 3%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .hero-container > img {
            width: 100%;
            height: 100%;
        }

        .hero-container .hero-content > h2 {
            font-size:2.4rem;
            margin-bottom:1rem;
            text-align: center;
        }

        .hero-container .hero-content > p { 
            text-align: center;
        }

        .hero-container .hero-content {
            width: 100%;
          justify-content: center;
          align-items: center;
          margin-left: 0;
        }

        .hero-container .hero-content .button {
            margin: auto;
            margin-top: 2rem;

        }
}


